In [ ]:
# write a program to add two  integers 10 , 20

In [6]:
a = 10
b = 20
c = a+b
print(c)

30

In [ ]:
# Write a program to find the type of a, b ,c where a=2, b=2.8,c="John"

In [4]:
a=2
b=2.8
c="John"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
# Write a program to swap the two numbers , where a=2 ,b=4 the program should print a= 4 ,b=2

In [7]:
a=2 
b=4
a,b = b,a 
print('a is',a)
print('b is',b)

a is 4
b is 2

In [8]:
# Write a program to swap the two numbers , using 3 variables

In [9]:
a=2 
b=4
c = a
a = b
b = c
print('a is',a)
print('b is',b)

a is 4
b is 2

In [10]:
# Write a program to print the numerator and denominator , quotient and remainder

In [12]:
numerator = 10
denominator = 5


if denominator == 0:
    print("Error: Denominator cannot be zero.")
else:
    quotient = numerator // denominator
    remainder = numerator % denominator

    print("Numerator:", numerator)
    print("Denominator:", denominator)
    print("Quotient:", quotient)
    print("Remainder:", remainder)

Numerator: 10
Denominator: 5
Quotient: 2
Remainder: 0

In [ ]:
p = 10
n = 20
r = 30
s = p*n*r
print(s)

In [2]:
# Write a program to calculate simple interst , si =p*n*r/100

In [5]:
p = float(input("enter value"))
n = float(input("enter value"))
r = float(input("enter value"))
si = (p*n*r)/100
print('simple interest is',si)

enter value 10
enter value 20
enter value 30

simple interest is 60.0

In [6]:
# Write a program to calculate the area and circumference of a circle ,area=3.14*radius*radius , circumference=2*3.14*r

In [7]:
r = 6
area = 3.14*r*r
circumference = 2*3.14*r
print(f'area is {area}')
print(f'circumference is {circumference}')

area is 113.03999999999999
circumference is 37.68

In [8]:
# Write a program to convert Celcius to Fariehiet , fariienhiet=1.8*celcius+32

In [10]:
celcius = float(input("enter value"))
fariienhiet=1.8*celcius+32
print(f'fariienhiet is {fariienhiet}')

enter value 10

fariienhiet is 50.0

In [11]:
# Write a program to find whether given number is odd or even

In [13]:
a = eval(input("enter value"))
if a%2 == 0:
    print("a is even")
else:
    print("a is odd")

enter value 15

a is odd

In [1]:
# Write a program to check whether the person can vote or not

In [4]:
age = eval(input("enter age"))
if age >= 18:
    print("the person can vote")
else:
    print("person cannot vote")

enter age 11

person cannot vote

In [5]:
# Write a program to find whether the given year is leap year or not ?

In [6]:
year = int(input("Enter a year: "))

if (year % 400 == 0):
    print(year, "is a Leap Year")
elif (year % 100 == 0):
    print(year, "is NOT a Leap Year")
elif (year % 4 == 0):
    print(year, "is a Leap Year")
else:
    print(year, "is NOT a Leap Year")

Enter a year:  1995

1995 is NOT a Leap Year

In [7]:
# Write a program to find the bigeest of three numbers

In [8]:
a = 10
b = 20
c = 30
if a >= b and a >= c:
    print("a is greater")
elif b >= a and b >= c:
    print("b is greater")
else:
    print("c is greater")

c is greater